<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serviceipcdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceIpcDemo" >
        <service android:name=".TestIPCService"
            android:exported="true"
            android:enabled="true"
            android:process=":TestIPCService">
            <intent-filter>
                <action android:name="com.example.serviceipcdemo.testipcfeatureservice"/>
            </intent-filter>
        </service>
    </application>

</manifest>